{% comment %} {% extends 'base.html' %}
{% block tab_title %}
<title>Prueba</title>
{% endblock tab_title %}

{% block contenido %}
    <div>
        <h1 class="tituloprueba">SOY LA PRUEBA</h1>
    </div>
    <div>
        <p>{{mensaje}}</p>
        
        {%if segundo_redondo%}
        <p style='color: red'>{{segundos}}</p>
        {%elif segundo_par%}
        <p style='color: blue'>{{segundos}}</p>
        {%else%}
        <p style='color: green'>{{segundos}}</p>
        {%endif%}
        

        {%for numero in listado_de_numeros%}
        <p>{{numero}}</p>
        {%endfor%}
    </div>
{% endblock contenido %} {% endcomment %}
